@{
    ViewBag.Title = "Afisare Utilizatori";
}

<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>

@foreach ( var user in ViewBag.UserList)
{
    <div class="panel-heading"> Nume utilizator : @user.UserName</div>
    <div class="panel-body">
        <i class="glyphicon glyphicon-envelope"></i>Email utilizator: <span class="label label-default">@user.Email</span>

        <br /><br />
        @if(@user.PhoneNumber != null)
        {
            <i class="glyphicon glyphicon-phone"></i> @:Telefon utilizator: <span class="label label-default">@user.PhoneNumber</span>
        }
    </div>
    <div class="panel-footer" style="display:flex;justify-content:space-between">
        <a class="btn btn-sm btn-success" href="/Users/Edit/@user.Id">
            Editare
            utilizator
        </a>
        <a class="btn btn-sm btn-success" href="/Users/Show/@user.Id">
            Vizualizare
            utilizator
        </a>
        <form method="post" action="/Users/Delete/@user.Id" class="form-inline">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button type="submit" class="btn btn-danger">Sterge utilizator</button>
        </form>
            

    </div>
    <br /><br />
}