@model Shopping_Site.Models.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Sunteti sigur ca doriti sa stergeri produsul?</h3>
<div>
    
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Inapoi la produse", "Index")
        </div>
    }
    <h1>
        @Html.DisplayFor(model => model.Name)

    </h1>
    <p class="text-info">
        @Html.DisplayNameFor(model => model.RegisteredOn): @Html.DisplayFor(model => model.RegisteredOn)

    </p>
    <div class="col-md-12">
        <h3>
            Descriere
        </h3>

        <p style="font-size:1.1em">
            @Html.DisplayFor(model => model.Description)
        </p>
    </div>
</div>
