@model Shopping_Site.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisteredOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisteredOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

       @* <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>*@

       @* <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<ul class="list-unstyled">
    @foreach (var review in Model.Reviews)
    {

        <li>

            <div class="row">
                <div class="col-md-10">
                    
                    <b>@review.Rating / 5</b>
                    <p class="text">@review.Comment</p>
                    <h6 class="text-info">Data: @review.Date</h6>
                </div>
                <div class="col-md-2">
                    <div style="display: inline-block; float : left; margin-right: 15px">
                        <a class="glyphicon glyphicon-pencil" href="/Reviews/Edit/@review.ID"></a>
                    </div>
                    <form method="post" action="/Reviews/Delete/@review.ID">
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
                    </form>
                </div>

            </div>
        </li>
    }
</ul>

<form method="post" action="/Reviews/Create">

    @Html.AntiForgeryToken()
    <div class="form-group">
        <h4>Adauga un Comentariu</h4>
        <hr />
        <input type="hidden" name="ProductID" value="@Model.ID" />
        <div class="form-group">
            <label class="control-label col-md-2" for="Rating">Rating (1-5)</label>
            <input type="number" name="Rating" /><br /><br />
            <label class="control-label col-md-2" for="Comment">Continut comentariu</label>
            <textarea class="form-control" name="Comment"></textarea>
            <button class="btn btn-success " type="submit">Adauga comentariu</button>
        </div>
    </div>
   
</form>

