@model IEnumerable<Shopping_Site.Models.Product>

@{
    ViewBag.Title = "Index";
}
<h1>@ViewBag.Message</h1>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">

@foreach (var item in Model) {
    <div class="panel panel-default col-md-3">
        <h1 class="">
            @Html.DisplayFor(modelItem => item.Name)
        </h1>

        <p class="text-info">
            @Html.DisplayFor(modelItem => item.Description)
        </p>

        <h3 class="center-block" style="text-align:center;color:darkred">
            @Html.DisplayFor(modelItem => item.Price) Lei
        </h3>
        <h6>
            Stoc: @Html.DisplayFor(modelItem => item.Count)
        </h6>

        <ul class="list-unstyled text-center" >
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </ul>
    </div>
    <div class="col-md-1"></div>
}

</div>
