@model Shopping_Site.Models.Product

@{
    ViewBag.Title = @Model.Name;
}

<h1>@TempData["Message"]</h1>


<div>
    <hr />


    <h1>
        @Html.DisplayFor(model => model.Name)

    </h1>
    <div style="font-size:2em; float:right">
        <a class="glyphicon glyphicon-pencil" href="/Products/Edit/@Model.ID"></a>

        <form method="post" action="/Products/Delete/@Model.ID" style="display:inline-block">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
        </form>
    </div>

    <p class="text-info">
        @Html.DisplayNameFor(model => model.RegisteredOn): @Html.DisplayFor(model => model.RegisteredOn)

    </p>

    <div class="col-md-10">
        <h3>
            Descriere
        </h3>

        <p style="font-size:1.1em">
            @Html.DisplayFor(model => model.Description)
        </p>
    </div>
    <div class="col-md-2 text-center">
        <h3  style="color:darkred">
            @Html.DisplayFor(model => model.Price) Lei
        </h3>

        <button class="btn btn-primary">
            Adauga in cos
        </button>
    </div>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<br />
<br />
<h3>Recenzii</h3>
<ul class="list-unstyled">
    @foreach (var review in Model.Reviews)
    {

        <li>
            <hr />
            <div class="row" >
                <div class="col-md-10">

                    <b>@review.Rating / 5</b>
                    <p class="text">@review.Comment</p>
                    <h6 class="text-info">Data: @review.Date</h6>
                </div>
                <div class="col-md-2">
                    <div style="display: inline-block; float : left; margin-right: 15px">
                        <a class="glyphicon glyphicon-pencil" href="/Reviews/Edit/@review.ID"></a>
                    </div>
                    <form method="post" action="/Reviews/Delete/@review.ID">
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
                    </form>
                </div>

            </div>
        </li>
    }
</ul>

<form method="post" action="/Reviews/New">

    <div class="form-group">
        <h4>Adauga un Comentariu</h4>
        <hr />
        <input type="hidden" name="ProductID" value="@Model.ID" />
        <div class="form-group">
            <label class="control-label col-md-2" for="Rating">Rating (1-5)</label>
            <input type="number" name="Rating" min="1" max="5" /><br /><br />
            <label class="control-label col-md-2" for="Comment">Continut comentariu</label>
            <textarea class="form-control" name="Comment"></textarea>
            <button class="btn btn-success " type="submit">Adauga comentariu</button>
        </div>
    </div>

</form>

